frame.swagner.tech {
    tls {
        dns cloudflare {env.CLOUDFLARE_API_TOKEN}
    }
    reverse_proxy photo-frame:5000
}

localhost {
	tls internal
	reverse_proxy photo-frame:5000
}

:443 {
	tls internal
	reverse_proxy photo-frame:5000
}

http:// {
	redir https://{host}{uri} permanent
}
